package db

const host = ""
const username = "colors"
const password = "StrongPassword1!"

const authDbName = "colors_auth"
const authUsersTable = "users"

const coreDbName = "colors_core"
const coreUsersTable = "users"
